.c-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    color:var(--color-silver);
}
.c-detail__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    margin-bottom: 1rem;
}
.c-details__header__infos {
    margin: 0 1rem;
    text-align: left;
}
.c-detail__title {
    margin-bottom: 1rem;
    font-size: 2rem;
    text-align: center;
    color:var(--cardTitleTextColor);
}

.c-detail__sinopsis {
    font-size: 1.25rem;
}
.c-detail__release {
    white-space: nowrap;
    font-size: 1rem;
    color:var(--cardTitleTextColorDate);
}

.c-detail__pannel {
    width: 50%;
}

.c-details__main {
    width: 100%;
}

@media screen and (min-width:767px) {
    .c-details {
        align-items: flex-start;
        flex-direction: column;
    }
    .c-detail__header {
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .c-detail__pannel .c-actionPannel {
        justify-content: space-between
    }
}



/**Details**/

.c-detail__header__text {
    margin-left: 2rem;
}


/**cast**/

.c-cast-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.c-cast__list {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.c-cast__list__item {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    margin: .5rem;
}

.c-cast-main__item {
    margin-bottom: 1.25rem;
    margin-right: 1.25rem;
    display: flex;
    flex-direction: column;
    width: 6rem;
}

.c-cast__list__item>* {
    margin-right: 0.6rem;
}

.c-people__name--text-only,
.c-people__name--text-only {
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
}

.c-people__cast--date {
    width: 10%
}


/**people**/

.c-thumbnail-wrap {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    width: 9rem;
    height: auto;
    min-height: 15rem;
    background-color: #79776d;
    border: 1px solid black;
}

.c-thumbnail--people {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.c-people__name {
    margin: 0;
    color:var(--color-silver);
}

.c-people__name--character {
    font-size: .9rem;
    display: flex;
    flex-direction: column;
}

.c-people__name--people {
    font-size: .8rem;
    color: #142842;
}
.c-people__name__actor {
    color:var(--color-active)
}
@media screen and (min-width: 640px) {
    /*detail*/
    .c-cast-main {
        justify-content: flex-start;
    }
    /* .c-detail__header {
        flex-direction: row;
            padding: 2rem 1rem;
    } */
    .c-cast__list__item>* {
        margin-right: 1rem;
        margin-right: 0.6rem;
    }
    /* .c-cast-main__item {
        margin-bottom: .25rem;
        margin-right: .25rem;
    } */

}