.c-listHome__list {
  display: flex;
  flex-direction: column;
}

.c-tile {
  margin-bottom: 1rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: grey;
  border-radius: --border-radius;
  font-size: 1.5rem;
  color: white;
}

@media screen and (min-width: 767px) {
  .c-listHome__list {
    flex-direction: row;
  }
  .c-tile {
    margin-right: 1rem;
    width: 12rem;
    height: 12rem;
    font-size: 2rem;
  }
}
