/***BURGER MENU - small -medium only**/

.bm-menu-wrap {
    height: calc(100vh - var(--footerHeight)) !important;
    background: var(--menuBackgroundColor);

}

/*BURGER Menu*/
.bm-burger-bars {
    background: var(--color-codGrey-darker);
}
.bm-burger-bars:hover {
    background: var(--color-red)!important;
}

.bm-burger-button {
    position: fixed;
    width: 15px;
    height: 15px;
    left: 36px;
    top: calc(var(--headerHeight)/2 - 7.5px);
}

.bm-burger-button:after {
    content: "";
    width: 2rem;
    height: 2rem;
    background: var(--color-active);
    top: -8px;
    left: -9px;
    position: absolute;
    z-index: -1;
    border-radius: 50%;
}
/* Position and sizing of clickable cross button */
.bm-cross-button {
    height: 2rem;
    width: 2rem;
}

/* Color/shape of close button cross */
.bm-cross {
    background: var(--button-close-color);
}

/* General sidebar styles */
.bm-menu[class] {
    padding: 0 0 0 .5rem;
    font-size: 1.15em;
    overflow: unset !important;
    height: 100%;
}


/*****/


.c-logo--menu {
    height: var(--headerHeight);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.c-menu__items {
    display: flex;
    flex-direction: column;
    padding: 0;
    align-items: flex-start;
    margin: 0;
}

.c-menu__item {
    display: flex;
    margin: .35rem 0;
}

.c-menu__item__title {
    margin-left: .5rem;
}

.c-menu__item__link__text {
    color: var(--menuTexColor);
}

.c-menu__button {
    display: none;
    position: absolute;
    top: 1rem;
    right: 0;
    font-size: 1.5rem;
}


@media screen and (max-width:1024px) {

    .c-menu__button {
        display: flex;
    }
}

@media screen and (min-width:1024px) {
    .c-menu {
        width: var(--menuWidth);
        position: fixed;
        height: 100%;
        padding: 0 0 0 .5rem;
        background: var(--menuBackgroundColor);
    } 
}