.c-card {
  display: flex;
  background: var(--cardMainBackgroundColor);
  text-align: left;
}

.c-card__header {
  padding: 0.5rem 0.2rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}

.c-card__body--small {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-around;
}

.c-card__title {
  display: flex;
  flex: 1;
  font-size: 1rem;
  color: var(--cardTitleTextColor);
}

.c-card__date {
  display: flex;
  justify-content: flex-end;
  color: var(--cardTitleTextColorDate);
}

.c-card__secondary-info {
  font-size: 0.7rem;
}

.c-card__secondary-info-text {
  padding: 0.5rem 0.2rem;
}

@media screen and (min-width: 767px) {
  .c-card {
    flex-direction: column;
    justify-content: space-between;
  }

  .c-card__title {
    flex: 1;
    justify-content: flex-start;
    font-size: 0.8rem;
  }

  .c-card__header {
    padding: 0.7rem 0.2rem;
  }
}
