.c-button-loadMore {
  padding: 1rem 1.5rem;
  margin: 3rem auto 2rem;
  width: 50%;
  max-width: 10rem;
  display: flex;
  align-self: center;
  justify-content: center;
}

.c-button-loadMore__text {
  margin: 0 0.5rem;
}

.c-tabs {
  padding: 0;
  display: flex;
  align-items: center;
}

.c-tab {
  margin-right: 0rem;
  padding: 1rem;
  color: var(--color-active);
  background-color: black;
  opacity: 0.4;
}

.c-tab--selected {
  opacity: 1;
}
