.c-list {
  z-index: 100;
  padding: 0.5rem 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  font-size: 1.15rem;
}

.c-list__item {
  margin-bottom: 1.5rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.c-list__item > * {
  margin-right: 0.55rem;
}
