

/* ul */
.c-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: .5rem 0 0 0; 
    /* background: black; */
    text-align: left;
    z-index: 800;
    font-size: 1.15rem;
}


/* li */
.c-list__item {
    margin-bottom: 1.5rem;
    width: 100%;
}
.c-list__item > * {
    margin-right: .25rem;
}
/* @media screen and (max-width:1024px) {

} */