@font-face {
  font-family: mainFontBoldItalic;
  src: url('../fonts/dustismo_bold_italic.ttf');
}

@font-face {
  font-family: mainFontBold;
  src: url('../fonts/dustismo_bold.ttf');
}

@font-face {
  font-family: mainFontItalic;
  src: url('../fonts/dustismo_italic.ttf');
}

@font-face {
  font-family: logoFont;
  src: url('../fonts/RINGM___.TTF');
}

html {
  background-color: var(--bodyBackgroundColor);
  color: var(--bodyTextColor);
}

.App {
  text-align: center;
  display: flex;
  height: 100vh;
}

.main {
  background-color: var(--bodyBackgroundColor);
  flex: 1;
  padding: 0.25rem;
  margin-bottom: var(--footerHeight);
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.colorTextActive {
  color: var(--color-active);
}

.hide {
  display: none;
}

@media screen and (max-width:1024px) {
  .main {
    margin-top: 2rem;
  }
}

@media screen and (min-width:767px) {
  .main {
    padding: 1rem;
  }
}

@media screen and (min-width:1024px) {
  .main, .c-header {
    margin-left: var(--menuWidth)
  }
}