@font-face {
  font-family: mainFontBoldItalic;
  src: url('../fonts/dustismo_bold_italic.ttf');
}

@font-face {
  font-family: mainFontBold;
  src: url('../fonts/dustismo_bold.ttf');
}

@font-face {
  font-family: mainFontItalic;
  src: url('../fonts/dustismo_italic.ttf');
}

@font-face {
  font-family: logoFont;
  src: url('../fonts/RINGM___.TTF');
}

html {
  background-color: var(--bodyBackgroundColor);
  color: var(--bodyTextColor);
}

.App {
  height: 100vh;
  display: flex;
  text-align: center;
}

.main {
  margin-bottom: var(--footerHeight);
  padding: 0 1rem;
  flex: 1;
  background-color: var(--bodyBackgroundColor);
}

.content {
  display: flex;
  flex: 1;
  flex-direction: column;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--link);
}

li {
  list-style: none;
}

.colorTextActive {
  color: var(--color-active);
}

.hide {
  display: none;
}

@media screen and (min-width: 767px) {
  .main {
    padding: 2rem;
  }
}

@media screen and (max-width: 1024px) {
  .main {
    margin-top: 2rem;
  }
}
@media screen and (min-width: 1024px) {
  .content {
    margin-left: var(--menuWidth);
  }
  .main {
    padding: 2rem;
  }
}
