.c-image {
  position: relative;
}

.c-image-background {
  position: relative;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
}

.c-image-background--45:before,
.c-image-background--92:before,
.c-image-background--185:before {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: black;
  font-family: logoFont;
  color: var(--color-red);
}

.c-image-background--45:before {
  content: 'HYS';
}

.c-image-background--92:before {
  content: 'HYS';
  font-size: 2.5rem;
}
.c-image-background--185:before {
  content: 'HaveYouSin';
  font-size: 1.6rem;
}
