:root {


    --color-red: #e33b3b; /*rgb(227,59,59)*/
    --color-yellow: #fed530; /*rgb(254,213,48)*/
    --color-mercury: #E5E5E5; /*rgb(229,229,229)*/
    --color-silver: #C0C0C0; /*rrgb(192,192,192)*/
    --color-boulder: #797979; /*rgb(121,121,121)*/
    --color-scorpion: #606060; /*rgb(96,96,96)*/
    --color-mineShaft: #262525; /*rrgb(38,37,37)*/
    --color-codGrey: #191919; /*rgb(25,25,25)*/
    --color-codGrey-darker: #111111; /*rgb(17,17,17)*/
    --color-carbon: #080808; /*rgb(8,8,8)*/
    --color-black: #000000; /*rgb(0,0,0)*/



    --color-active: var(--color-yellow);

    --iconNavColor: var(--color-silver);
    --menuTexColor: var( --color-scorpion);
    /* --menuBackgroundColor: var(--color-boulder); */
    --menuBackgroundColor: var(--color-carbon);
    --menuMarginTop : var(--headerHeight);
    --button-close-color : var(--color-boulder);
    --menuWidth : 20%; /*DELETE*/

    --bodyBackgroundColor: var(--color-codGrey-darker);
    --bodyTextColor: var(--color-boulder);

    --listTitle: var(--color-yellow);


    --headerBackgroundColor: var(--color-carbon);
    --headerTextColor: var(--color-silver);
    --headerHeight :5rem;

    --footerBackgroundColor: var(--color-mineShaft);
    --footerHeight: 60px;
    
    --cardLinesBackgroundColor: var(--color-black);
    --cardMainBackgroundColor: var(--color-carbon);
    --cardTitleTextColor: var(--color-mercury);
    --cardSubinfoTextColor: var(--color-scorpion);

    --inputBackgroundColor: var(--color-mercury);


}