.c-footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: var(--footerHeight);
  z-index: 200;
  background: var(--footerBackgroundColor);
}

.c-footer__items {
  padding: 0;
  display: flex;
  justify-content: space-evenly;
}

.c-footer__item__icon {
  margin-right: 0.25rem;
}

.iconActive {
  font-size: 5rem;
}

.c-footer__item__link__text {
  display: flex;
  flex-direction: column;
  font-size: 0.75rem;
}

@media screen and (min-width: 1024px) {
  .c-footer {
    display: none;
  }
}
