.c-search {
    display: flex;
}

.c-search__input-block {
    display: flex;
}

/* TODO: variables */
input[type=search].c-search-field {
    display: flex;
    flex: 1;
}

/* TODO: variables */
input[type=search].c-search-field:focus,
input[type=search].c-search-field--small:focus {
    color: var(--searchRequestColor);
    font-size: 1.25rem;
}

/* TODO: variables */
input[type=search].c-search-field,
input[type=search].c-search-field--small,
input[type=search].c-search-field:focus {
    border: none;
    border-bottom: 1px solid  var(--color-active);
    outline: none;
    box-shadow: none;
    border-radius: 3px;
    color: #c0c0c0;
}

.c-search-input-results--small {
    position: absolute;
    top: 4rem;
    left: 0;
    right: 0;
    bottom: 3rem;
    flex: 1;
    z-index: 800;
    padding-bottom: var(--footerHeight);
    background: transparent!important;
}

.c-search-field--small {
    background-color: var(--headerBackgroundColor);
    display: flex;
    flex: 1;
    width: 100%;
}

.c-header__results--desktop {
    position: absolute;
    top: 21px;
    background: black;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    left: 0;
    right: 0;
    z-index: 800;
}

@media screen and (min-width:1024px) {
    .c-search {
        min-width: 30rem;
        display:flex;
        flex-direction: column;
    }
    .c-search-field {
        background-color: transparent;
    }
}

/***************** animations ******************/
.c-search-field--small-enter {
    opacity: 0.01;
    transform: scale(0.9) translateY(-50%);
}

.c-search-field--small-enter-active {
    opacity: 1;
    transform: scale(1) translateY(0%);
    transition: all 300ms ease-out;
}

.c-search-field--small-exit {
    opacity: 1;
    transform: scale(1) translateY(0%);
}

.c-search-field--small-exit-active {
    opacity: 0.01;
    transform: translateY(-50%);
    transition: all 200ms ease-out;
}



