body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body.user-is-tabbing *:focus {
  outline: 2px solid #7aacfe !important; /* for non-webkit browsers */
  outline: 5px auto var(--color-active) !important;
}

body:not(.user-is-tabbing) button:focus,
body:not(.user-is-tabbing) input:focus,
body:not(.user-is-tabbing) select:focus,
body:not(.user-is-tabbing) a:focus,
body:not(.user-is-tabbing) div:focus,
body:not(.user-is-tabbing) textarea:focus {
  outline: none;
}
